{
  "name": "reintersect",
  "owner": {
    "name": "Reintersect",
    "email": "support@reintersect.com"
  },
  "metadata": {
    "description": "Reintersect plugins for coding agents"
  },
  "plugins": [
    {
      "name": "reintersect",
      "source": "./plugins/claude-code",
      "description": "Reintersect for your coding agent.",
      "version": "{{VERSION}}",
      "displayName": "Reintersect"
    }
  ]
}
